# Ignore local environment variables (passwords)
.env

# Ignore python virtual environments and cache
__pycache__/
*.pyc
venv/
*env/

# Ignore local database data and Prisma configurations
node_modules/
.prisma/
/prisma/migrations/